/* Generale */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

/* end Generale */


/* Flex */
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

/* end Flex */


/* Intestazione e barre navigazione Boolando */
header {
    background-color: orange;
    color: white;
}

.intestazione-navigazione {
    padding: 10px 200px;
}

#logo-boolean {
    width: 150px;
}

nav ul {
    list-style-type: none;
}

ul a {
    text-decoration: none;
    color: white;
    padding: 0px 5px;
}

/* end Intestazione e barre navigazione Boolando */


/* Corpo centrale */
main {
    background-color: rgb(17, 193, 44);
}

.justify-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.nuovo-prezzo {
    color: red;
}

.vecchio-prezzo {
    text-decoration: line-through;
}

.modelli {
    width: 100%;
}


section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.prodotti {
    margin: 0px 10px;
    width: calc(100% / 3 - 20px);
    flex-shrink: 0;
    position: relative;
}

.cuore {
    color: #000;
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 20px;
    cursor: default;
}

.prodotti:hover .cuore {
    color: red;
}

.column {
    flex-direction: column;
}

.descrizione-prodotti {
    font-size: 0.7rem;
}

/* end Corpo centrale */


/* Informazioni utili */

/* end Informazioni utili */