/* Generale */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif
}

/* .container {
    max-width: 1200px;
    margin: 0 auto;
} */

/* end Generale */

/* Flex */
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

/* end Flex */

/* Impostazione pagina */
header {
    background-color: orange;
    color: white;
}

.intestazione-navigazione {
    padding: 10px 200px;
}

#logo-boolean {
    width: 150px;
}

nav ul {
    list-style-type: none;
}

ul a {
    text-decoration: none;
    color: white;
    padding: 0px 5px;
}

/* end Impostazione pagina */

/* Intestazione e barre navigazione Boolando */

/* end Intestazione e barre navigazione Boolando */

/* Corpo centrale */

/* end Corpo centrale */

/* Informazioni utili */

/* end Informazioni utili */