/* Generale */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif
}

/* end Generale */

/* Impostazione pagina */

/* end Impostazione pagina */

/* Intestazione e nav Boolando */

/* end Intestazione e nav Boolando */

/* Corpo centrale */

/* end Corpo centrale */

/* Informazioni utili */

/* end Informazioni utili */